<div ng-controller="ContactsListCtrl as contactsListCtrl" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">My Contacts</h3>
	</div>

	<div class="panel-body">
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="contact in contactsListCtrl.contacts">
				<td ng-bind="contact.name"></td>
				<td ng-bind="contact.phoneNumber"></td>
				<td>
					<button class="btn btn-success glyphicon glyphicon-pencil"
									ng-click="contactsListCtrl.updateContactListView(contact)" ui-sref="contacts.edit"></button>
				</td>
				<td>
					<button class="btn btn-danger glyphicon glyphicon-trash" ng-click="contactsListCtrl.deleteContact(contact)">
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>