<div ng-controller="ContactsEditCtrl as contactsEditCtrl" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Edit Contacts</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="contact in contactsEditCtrl.contacts">
				<td>
					<div class="form-group">
						<div class="">
							<input type="text" class="form-control" id="contactName" ng-model="contact.name"/>
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="">
							<input type="tel" class="form-control" id="contactPhoneNumber" ng-model="contact.phoneNumber"/>
						</div>
					</div>
				</td>
				<td>
					<button class="btn btn-info" ng-click="contactsEditCtrl.modifyContactAndSwitchState(contact, 'contacts.list')">Save</button>
				</td>
			</tr>
		</table>
	</div>
</div>